
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #222;
  font-family: Lato, sans-serif;
  font-size: 0.9em;
  background-color: #fff;
}

main {
  flex: 1 0 auto;
  display: flex;
}

img {
  max-height: 300px;
}

aside {
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

aside i.fa, aside i.fab {
  font-size: 0.9em;  /*font size for the icons*/
}

ul {
  /* list-style-type: none;
  display: flex;
  border: 1px solid #4e4e4e; */
}

li {
  display: flex;
  padding: 0 20px;
  min-height: 50px;
}

li p {
  flex: 0 0 25%;
}

li span.catty-cloud {
  border: 1px solid black;
  font-size: 0.6em;
  padding: 3px;
}

li:nth-child(2n) {
  background-color: #f2f2f2;
}

footer {
  flex: 0 0 90px;
  display: flex;
  padding: 10px;
  background-color: rgba(61, 100, 158, .9);
  color: #fff;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.music-head {
  flex: 0 0 280px;
  display: flex;
  padding: 40px;
  background-color: #4e4e4e;
}

.catty-music {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: #fff;
  padding-left: 50px;
}

.catty-music div:nth-child(1) {
  margin-bottom: auto;
}

.catty-music div:nth-child(1) p:first-child {
  font-size: 1.8em;
  margin: 0 0 10px;
}

.catty-music div:nth-child(1) p:not(:first-child) {
  font-size: 0.9em;
  margin: 2px 0;
}

.catty-music div:nth-child(2) {
  margin-top: 0;
}

.catty-music div:nth-child(2) i.fas {
  font-size: 0.9em;
  padding: 0 0.7em;
  font-weight: bold;
}

.music-list {
  flex: 1 0 auto;
  list-style-type: none;
  padding: 5px 10px 0px;
  overflow: scroll;
  max-height: 21em;
}

.now-playing {
  flex: 1.6 1.6 auto;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

.now-playing img {
  max-width: 7em;
  margin-left: 1em;
  padding-right: 2em;
}

.controls {
  flex: 1.3 1.3 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 64em) {
  aside {
    display: none;
  }

  li p {
    flex: 0 0 50%;
  }

  li p:nth-child(3) {
    text-align: right;
  }

  .music-head {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }

  .music-head img {
    width: 150px;
  }

  .catty-music {
    padding: 0;
  }

  .catty-music div:nth-child(1) p:first-child {
    margin: 20px 0;
    font-size: 1em;
  }

  .catty-music div p:not(:first-child) {
    display: none;
  }

  .catty-music:nth-child(2) {
    display: flex;
    align-items: space-between;
  }

  .music-list li {
    display: flex;
    justify-content: space-between;
  }

  .music-list li p:nth-child(even) {
    display: none;
  }

  .now-playing img {
    display: none;
  }

  .controls {
    display: flex;
    justify-content: space-around;
  }

}
