
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: blue;
}

footer {
  flex: 0 0 90px;
  background: green;
}
